@tailwind base;

@tailwind components;

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.page-link {
    display: block;
    padding: 1rem;
}

.page-link:hover {
    background-color: hsl(202, 80%, 80%);
}

.hyperlink {
    @apply text-blue-500;
}

.hyperlink:hover {
    @apply text-blue-700 bg-blue-100;
}

@tailwind utilities;

